<!DOCTYPE html>
<head>
    <title>Financial</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<h1>Balance Sheet Trial</h1>

<body>

<div>
    <p>Please enter the stock you wanna see:</p>

    <form class="pure-form" method="POST" action="/">
    Stock:<br>
    <input type="text" name="stock_input"><br>
    <button class="pure-button pure-button-primary" value="Submit" type="submit" >Submit</button>
    </form>
</div>

<br>

<div>
    {% for table in tables %} <!--Executable python code, if name exists-->
        {{ table|safe }}
    {% endfor %}



</div>

</body>

